@using BlazorDemo.Shared

@if (Result != null)
{
    <div class="row">
        <div class="col-md-8 col-sm-8">
            @if (Result.PageCount > 1)
            {
                <ul class="pagination pull-right">
                    <li><button  onclick="@(() => PagerButtonClicked(1))" class="btn">&laquo;</button></li>
                    @for (var i = startIndex; i <= finishIndex; i++)
                    {
                        var currentIndex = i;
                        @if (i == Result.CurrentPage)
                        {
                            <li><span class="btn">@i</span></li>
                        }
                        else
                        {
                            <li><button onclick="@(() => PagerButtonClicked(currentIndex))" class="btn">@i</button></li>
                        }
                    }
                    <li><button onclick="@(() => PagerButtonClicked(Result.PageCount))" class="btn">&raquo;</button></li>
                </ul>
            }
        </div>
    </div>
}

@functions {
    [Parameter]
    PagedResultBase Result { get; set; } // Demonstrates how a parent component can supply parameters

    [Parameter]
    string UrlTemplate { get; set; } // Demonstrates how a parent component can supply parameters
    
    [Parameter]
    Action<int> PageChanged { get; set; }

    int startIndex = 0;
    int finishIndex = 0;

    protected override void OnParametersSet()
    {
        startIndex = Math.Max(Result.CurrentPage - 5, 1);
        finishIndex = Math.Min(Result.CurrentPage + 5, Result.PageCount);

        base.OnParametersSet();
    }

    private void PagerButtonClicked(int page)
    {
        PageChanged?.Invoke(page);
    }
}