@page "/"
@page "/page/{Page}"
@inherits IndexModel

<div class="row">
    <div class="col-md-9">
        <h1>Books database</h1>
    </div>
</div>

<div class="row margin-bottom-20">
    <div class="col-md-9">
        <button class="btn btn-primary" onclick=@AddNew>Add new</button>
    </div>
</div>

@if (Books == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>ISBN</th>
            <th></th>
        </tr>
        @foreach (var book in Books.Results)
        {
            var id = book.Id;
            var title = book.Title;
            <tr>
                <td>@book.Id</td>
                <td>@book.Title</td>
                <td>@book.ISBN</td>
                <td>
                    <button class="btn green" onclick="@(() => EditBook(id) )">...</button>
                    <button class="btn red deleteBook" onclick="@(() => ConfirmDelete(id, title) )">x</button>
                </td>
            </tr>
        }
    </table>

    <Pager Result=@Books PageChanged=@PagerPageChanged />
}

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Confirm delete</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <input type="hidden" id="bookToDeleteField" bind=@DeleteId />
                Are you sure you want to delete book <span id="bookTitleField"></span>?
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" onclick=@DeleteBook>Delete</button>
            </div>

        </div>
    </div>
</div>